* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}

/*full content styling*/
.container {
    background: rgb(10,61,98);
    background: linear-gradient(rgba(10,61,98,1) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 100%); 
    height: auto;
}

/*top nav bar styling*/
.nav {
    width: 35%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    padding-top: 2rem;
    margin-bottom: 8rem;
}
.nav-link {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    color: #78E08F;
    text-decoration: none;
    transition: 0.2s;
}
.nav-link:hover {
    color: #a9f0b8;
}


/*Styling for landing page title and image*/
.header{
    width: 90%;
    margin: auto;
    display: flex;
}
.header-text {
    width: 100%;
}
.header-img{
    width: 100%;
    text-align: center;
}
.header-img img {
    width: 700px;
    height: auto;
}
.header-title {
    color: white;
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 2rem;
    line-height: 6rem;
}
.highlight {
    color: #78E08F;
}
.header-description{
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 18px;
    width: 90%;
    line-height: 2.6rem;
    color: #7E7E7E;
    margin-bottom: 3rem;
}
.desc-highlight {
    color: #78E08F;
}

.view-resume {
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    background-color: #78E08F;
    padding: 1.3rem;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-size: 18px;
    transition: 0.2s;
    display: inline-block;
    transition: 0.2;
}
.view-resume:hover{
    background-color: #a9f0b8;
    border-radius: 50px;
}

.section-title {
    color: white;
    font-size: 3.5rem;
    margin-bottom: 3rem;
    text-align: center;
}

/*Skills section styling*/
.skills {
    margin-top: 18rem;
    text-align: center;
}
.languages img{
    width: 75px;
    height: auto;
    filter: invert(76%) sepia(38%) saturate(472%) hue-rotate(80deg) brightness(96%) contrast(91%);
}
.languages {
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: space-evenly;
}
.skills-desc {
    color: #CCCCCC;
    width: 80%;
    margin: auto;
    margin-top: 2.5rem;
    font-size: 20px;
    font-family: 'Source Code Pro', monospace;
    line-height: 2.8rem;
}

/*project carousel*/
.projects {
    margin-top: 12rem;
}
.project-slider {
    display: flex;
}

.project-card {
    color: black;
    background-color: #78E08F;
    width: 70%;
    padding: 3rem;
    border-radius: 15px;
    display: flex;
    margin: auto;
    transition: background-color 0.2s ease, transform 0.2s ease; /* Add transition */
}
.project-card img {
    width: 300px;
    height: 300px;
    margin-right: 4rem;
}
.card-emoji {
    font-size: 15rem;
    background-color: rgba( 0, 0, 0, .2);
    border-radius: 15px;
    margin-right: 3rem;
}
.card-text h1 {
    font-size: 2.5rem;
    margin-bottom: 1.3rem;
}
.card-text p {
    font-size: 18px;
    font-family: 'Source Code Pro', monospace;
    line-height: 1.5rem;
    font-weight: 500;
}
.card-text, .card-emoji {
    transition: opacity 0.2s ease; /* Add transition for text */
    opacity: 1;
}

.learn-more-button {
    margin-top: 3rem;
    padding: 1.3rem;
    font-size: 18px;
    border-radius: 5px;
    border: 0px;
    background-color: black;
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2s;
}
.learn-more-button:hover {
    background-color: rgb(36, 36, 36);
    border-radius: 40px;
}

.card-arrows {
    width: 40%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
}
.arrow {
    padding: 2rem 1rem;
    font-size: 2rem;
    border: none;
    border-radius: 40px;
    background: none;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    margin: 0rem 2rem;
}
.arrow:hover {
    color: #78E08F;
}

/*education and certs styling*/
.credentials {
    margin-top: 12rem;
}
.cred-row {
    width: 70%;
    margin: auto;
    margin-bottom: 5rem;
}
.cred-title {
    display: flex;
    margin-top: 4rem;
    align-items: center;
}
.cred-title img{
    width: 50px;
    height: auto;
    filter: invert(76%) sepia(38%) saturate(472%) hue-rotate(80deg) brightness(96%) contrast(91%);
}
.cred-header {
    display: flex;
}
.cred-header h3 {
    color: #78E08F;
    font-size: 2.5rem;
    margin-left: 4rem;
}
.cred-header-date {
    color: #929292;
    font-weight: 400;
    font-size: 1.5rem;
    margin-left: 4rem;
    line-height: 2.5rem;
    padding-right: 1rem;
}
.cred-header-location {
    color: white;
    font-size: 1.5rem;
    padding-left: 1rem;
}
hr {
    border: 1px solid lightgrey;
}

/*contact form styling*/
.contact-form {
    margin-top: 12rem;
}
.form-container {
    background-color: #78E08F;
    padding-bottom: 2.5rem;
}
.form-container p {
    font-family: 'Source Code Pro', monospace;
    font-size: 20px;
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 3rem;
    font-weight: bold;
    line-height: 2.5rem;
}
.input-form {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.contact-input-user {
    padding: 1.3rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 16px;
}
.contact-input-user:focus {
    outline: none;
}
.contact-input-message {
    padding: 1.3rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 1.5rem;
    font-family: 'Source Code Pro', monospace;
    font-weight: 500;
    font-size: 16px;
    height: 30vh;
    margin-bottom: 3rem;
}
.contact-input-message:focus {
    outline: none;
}
.form-btn {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}
.form-btn button {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
    font-size: 20px;
    padding: 1.5rem 3rem;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: black;
    transition: 0.2s;
}
.form-btn button:hover {
    border-radius: 40px;
    cursor: pointer;
    background-color: rgb(36, 36, 36);
}
.external-links {
    display: flex;
    justify-content: center;
}
.external-links a img{
    width: 50px;
    height: auto;
    margin: 0rem 1rem;
}